@use 'base/variables' as v;
@use 'base/mixins' as m;

.social-networks {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 0;
    @include m.social-networks(v.$white, 2rem);
    @include m.tablet {
        justify-content: flex-end;
        margin-top: 2rem;
    }

    &__link {
        align-self: flex-start;
    }
}