@use 'variables' as v;
@use "sass:color";

/** Media Queries **/
@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl-desktop {
    @media (min-width: v.$xl-desktop) {
        @content;
    }
}

@mixin button($bgColor, $textColor) {
    background-color: $bgColor;
    padding: clamp(1.3rem, 0.227vw + 1.227rem, 1.5rem) clamp(3.8rem, 0.227vw + 3.727rem, 4rem);
    color: $textColor;
    font-size: clamp(1.4rem, 0.455vw + 1.255rem, 1.8rem);
    font-weight: 700;
    border: none;
    transition: background-color .3s;
    text-align: center;
    width: 100%;
    display: inline-block;

    &:hover {
        background-color: color.adjust($bgColor, $lightness: -10%);
        cursor: pointer;
    }
}

@mixin grid($columns, $gap: null) {
    grid-template-columns: repeat($columns, 1fr);
    @if $gap != null {
        gap: $gap;
    }
}

@mixin container {
    width: min(95%, 120rem);
    margin: 0 auto;
}

@mixin container-sm {
    width: min(95%, 60rem);
    margin: 0 auto;
}

@mixin headings {
    font-family: v.$main-font;
    font-weight: v.$bolder;
    margin: 2rem 0;
}

@mixin page-name {
    @include headings;
    margin: 6rem 0 3rem;
    text-align: center;
}