@use 'variables' as v;
@use "sass:color";

/** Media Queries **/
@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin xl-desktop {
    @media (min-width: v.$xl-desktop) {
        @content;
    }
}

@mixin button($bgColor, $textColor) {
    background-color: $bgColor;
    padding: clamp(1.3rem, 0.185vw + 1.241rem, 1.5rem) clamp(3.8rem, 0.185vw + 3.741rem, 4rem);
    color: $textColor;
    font-size: clamp(1.4rem, 0.37vw + 1.281rem, 1.8rem);
    font-weight: 700;
    border: none;
    transition: background-color .3s;
    text-align: center;
    width: 100%;
    display: inline-block;

    &:hover {
        background-color: color.adjust($bgColor, $lightness: -10%);
        cursor: pointer;
    }
}

@mixin grid($columns, $gap: null) {
    grid-template-columns: repeat($columns, 1fr);
    @if $gap != null {
        gap: $gap;
    }
}

@mixin container {
    width: min(95%, 140rem);
    margin: 0 auto;
}

@mixin container-sm {
    width: min(95%, 60rem);
    margin: 0 auto;
}

@mixin headings {
    font-family: v.$main-font;
    font-weight: v.$bolder;
    margin: 2rem 0;
}

@mixin page-name {
    @include headings;
    margin: 6rem 0 3rem;
    text-align: center;
}

@mixin gradient-text($init, $end) {
    background: linear-gradient(to right, $init, $end);
    background-clip: text;
    color: transparent;
}

@mixin logo {
    color: v.$white;
    text-align: center;
    margin-bottom: 2rem;
    @include desktop {
        text-align: left;
        margin: 0;
    }
}

@mixin social-networks($color, $size) {
    &__link {
        &::before {
            color: $color;
            font-size: $size;
            display: inline-block;
            font-style: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 7 Brands";
        }

        &[href*="https://facebook.com"]::before {
            content: "\f39e";
        }
        &[href*="https://github.com"]::before {
            content: "\f09b";
        }
        &[href*="https://tiktok.com"]::before {
            content: "\e07b";
        }
        &[href*="https://instagram.com"]::before {
            content: "\f16d";
        }
        &[href*="https://youtube.com"]::before {
            content: "\f167";
        }
        &[href*="https://twitter.com"]::before {
            content: "\f099";
        }
    }

    &__hide {
        display: none;
    }
}