@use 'variables' as v;
@use 'mixins' as m;

h1, h2, h3 {
    @include m.headings;
}

h1 {
    font-size: clamp(3.6rem, 0.37vw + 3.481rem, 4rem);
}
h2 {
    font-size: clamp(3rem, 0.556vw + 2.822rem, 3.6rem);
}
h3 {
    font-size: clamp(2.7rem, 0.278vw + 2.611rem, 3rem);
}
.text-center {
    text-align: center;
}

[class$="__heading"] {
    @include m.page-name;
}