@use 'base/mixins' as m;
@use 'base/variables' as v;

.packages {
    &__grid {
        display: grid;
        @include m.container;
        @include m.grid(1, 3rem);
        @include m.tablet {
            @include m.grid(3, 3rem);
        }
    }
    &__submit {
        margin-top: 3rem;
        @include m.button(v.$blue, v.$white);
    }
}

.package {
    display: flex;
    flex-direction: column;
    @include m.card;

    &:nth-child(2) {
        order: -2;
        @include m.tablet {
            order: unset;
        }
    }

    &:nth-child(3) {
        order: -1;
        @include m.tablet {
            order: unset;
        }
    }

    &__list {
        @include m.reset-list;
        line-height: 2;
        flex-grow: 1;
    }

    &__price {
        font-size: clamp(4.5rem, 1.389vw + 4.056rem, 6rem);
        margin: 3rem 0;
        color: v.$blue;
        font-weight: v.$bolder;
        text-align: center;
    }
}